body {
    height: 100vh;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: clamp(100px, 30vw, 500px);
    aspect-ratio: 1 / 1;
    border: 10px solid black;
    border-radius: 10px;
}

.game-grid .cell {
    border: 1px solid black;
}

.highlight {
    background-color: lime;
}
