:root {
    --pallete-light-gray: #34374C;
    --pallete-gray: #2C2E3E;
    --pallete-red: #EE2B47;
    --pallete-white: #F6F6F6;

    --grid-width: clamp(100px, 30vw, 500px);
}

body {
    display: grid;
    grid-template-columns: 200px 1fr max-content;
    height: 100vh;

    background-color: var(--pallete-light-gray);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-color: var(--pallete-gray);
    color: var(--pallete-white);
}

.main-game-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.game-info {
    display: grid;
    grid-template-rows: 4fr 1fr;

    width: var(--grid-width);
}

.game-result {
    justify-self: center;

    text-align: center;
}

.turn-indicator {
    align-self: end;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: var(--grid-width);
    aspect-ratio: 1 / 1;
    outline: 10px solid var(--pallete-red);
    outline-offset: -2px;
    border-radius: 10px;
    background-color: var(--pallete-gray);
}

.game-grid .cell {
    border: 1px solid var(--pallete-white);
}

#play-again {
    --dark-border: #2f7736;

    padding: 5px 10px;
    background-color: #5fa256;
    color: var(--pallete-white);
    font-weight: bold;
    text-shadow: 0 2px 0 var(--dark-border);
    border-left: var(--dark-border) solid 4px;
    border-bottom: var(--dark-border) solid 4px;
    border-top: #a5dd99 solid 4px;
}

#play-again:hover {
    background-color: #6bb762;
}

.highlight {
    background-color: lime;
}

img {
    user-select: none;
}
